<footer class="footerarea">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-12">
                <h4>heading</h4>
                <p><b>Government Polytechnic, Adityapur</b><br/>
                    Adityapur Industrial Area<br/>
                    Seraikella-Kharsawan, Jharkhand<br/>
                    PIN- 832109</p>
                <p></p>
                <p></p>
            </div>
            <div class="col-md-3 col-12">
                <h4>heading</h4>
                <ul>
                    <li>Demo list</li>
                    <li>Demo list</li>
                    <li>Demo list</li>
                    <li>Demo list</li>
                </ul>
            </div>
            <div class="col-md-3 col-12">
                <h4>heading</h4>
                <p>Your IP : 49.37.26.218</p>
                <p>Browser : Chrome</p>
            </div>
            <div class="col-md-3 col-12">
                <h4>heading</h4>
                <ul>
                    <li>Demo list</li>
                    <li>Demo list</li>
                    <li>Demo list</li>
                    <li>Demo list</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Design & Developed By : Kunal Mahto
            </div>
        </div>
    </div>
</footer>